/*-----------global-----------*/
html{
  background-color: #FAFAFA;
}

.menu{
	background-color: white;
	position: fixed;
	height: 100vh;
	width: 300px;
	padding: 20px;
}

section{
	margin-bottom: 20px;
}

h2:after{
	content: "";
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #DFDFDF;
	margin: 0 0 10px 0;

}

.error{
	position: fixed;
	width: 300px;
	padding: 0 20px;
	margin:0;
	color: red;
	background-color: #FF9393;
	z-index: 20;
	display: none;
/*	border: 1px solid red;
	border-radius: 2px;*/

}

.error .dismiss{
	float: right;
	cursor:pointer;
}

/*----------main------------*/
main{
	margin-left: 400px;
	padding-top: 100px;
}

.fontList{
	margin: 0 auto;
	width: 820px
}

main li{
	list-style:none;
	padding: 10px 40px 20px 40px;
	margin-left: -30px;
	border-radius:3px;
}

main li:hover{
	box-shadow: 0px 1px 15px rgba(0,0,0,0.2);
	transition: 100ms;
}

.smallShowcase{
	margin-top: -8px;
}

main li button{
	margin-top:30px;
	float:right;
	color: #4D4D4D;
	font-weight: 700;
	font-size: 1.2em;
	padding: 0px 9px 8px 10px;
	background-color: rgba(0,0,0,0);
}

/*---------------------Menu--------------------------*/

/*-------Compare Tray-----*/

.thumbs{
	z-index: 12;
	width: 60px;
	height: 50px;
	background-color: white;
	margin-right: 4px;
	border-radius: 1px;
	cursor:pointer;
	display: inline-block;
}

.thumbs:hover{
	box-shadow: 0px 1px 12px rgba(0,0,0,0.15);
}

.thumbs	p{
	text-align: center;	
	margin:0;
	padding: 0;
	font-size: 1rem;
}

.thumbs .abbreviation{
	font-size: 2rem;
	line-height: 1.3;
	font-family: "Lato";
}

.compareTray{
  background: url(../img/compareTray0.png) no-repeat;
  opacity: 1;
  height: 50px;
  margin: 0;
  padding: 0;

}

.compareItems{
  z-index: 10;
}

.compareItems img{
	margin-top: 2px;
	margin-right: 4px;

}

.compare button{
	margin-top: 13px;
	float: right;
	display: none;
}

.compare{
	margin-top: 6px;
}

/*-----------inputs-----------*/
input[type=search]{
	height: 32px;
	width: 100%;
	cursor: text;
	border-radius: 4px;
	margin-bottom: 0;
	background-color: #FAFAFA;
	border-color: #EEE;
}

label{
	font-size: 1.3rem;
	color: #666666;
	font-weight: 600;
}


/*---global filters---*/
.global label{
	display: inline-block;
	width: 130px;
}
/*---serif filters---*/
.serif label{
	max-width: 40px;
	text-align: center;
}

.serif span{
	display: inline-block;
}

.menu input[type=radio]{
	display: none;
}

.menu input[type=radio]:checked + label img{
	
}


/*-----------floats-----------*/
.serif .right{
	float: right;
}

.serif .left{
	clear: both;
	float: left;
}

.clear{
	clear: both;
}

.global{
	clear: both;
}

/*-----------search------------*/
.search{
	margin-top: 160px;
}

/*-----------footer-----------*/
footer{

	position: absolute;
	bottom: 60px;
}

footer li{
	float: left;
	margin: 0 10px;
	list-style:none;
}

footer ul{
	clear: both;
	margin: 0px 34px;
}

footer img{
	margin-left: 100px;
}

footer a{
	color: #808080;
}



/*-------input range -------*/

.slider{
  width: 120px;
  display: inline-block;
}

.xHeight label,.xHeight div, 
.StrokeThickness label, .StrokeThickness div, 
.StrokeContrast label, .StrokeContrast div,
.LetterWidth label, .LetterWidth div, 
.StressAxe label, .StressAxe div
{
  opacity: 0.5;
}
