body{
	margin-left: 300px;
}

header li{
	display: inline;
	margin-right: 10px;
}

header ul{
	margin-bottom: 0;
}

header h1{
	float: left;
	margin-top: 17px;
	line-height: 0;
}

header{
	color: #555;

}

header .stat{
	color: #AAA;
}

header:after{
	content: "";
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #DFDFDF;
	margin: 0 0 10px 0;
}

.featureGroup{

	width: 500px;
	overflow: hidden;
	position: absolute;
	transition: 0.1s;
	-webkit-transition: 0.1s;
	font-size: 1.2rem;
	color: #777;
}

.featureGroup:hover{
	height: 60px;
	width: 800px;
}

article h2{
	line-height: 0;
}

h2:after{
	content: "";
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #DFDFDF;
	margin: 10px 0 0px 0;

}

.cta, .cta button, .cta ul, .cta li{
	margin: 0;
}

article{
	clear: both;
}

.fullDisplay{
	font-size: 6rem;
	line-height: 1.1;
	margin-bottom: 20px;
}


.weights li, .sizes li{
	list-style: none;
	margin-left: 0;
}

.weights ul, .sizes ul{
	padding-left: 0;
}

.styleDescription, .cta{
	float: right;
	padding-left: 0px;
	color: #BBB;
}

.examples{
	float: left;
}
